@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.TechnicalServiceRequestDetailsViewModel

@{ var description = !String.IsNullOrEmpty(Model.TechnicalServiceRequestDescription)
        ? Model.TechnicalServiceRequestDescription.Trim()
        : ""; }


<section id="edit_description_modal" class="modal fade" role="dialog">
    <section class="modal-dialog">

        @* Modal content *@
        <section class="modal-content">

            @* Header *@
            <section class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title text-light">
                    <i class="glyphicon glyphicon-pencil text-light"></i>
                    Edit Request Description
                </h4>
            </section>

            @using (Html.BeginForm(
                "EditDescription",
                "TechnicalServiceRequests",
                new { technicalServiceRequestId = Model.Id },
                FormMethod.Post
            ))
            {
                @Html.AntiForgeryToken();

                @* Body *@
                <section class="modal-body">
                    @Html.HiddenFor(model => model.Id)

                    <section class="form-group">
                        <label class="text-primary light-text" for="TechnicalServiceRequestDescription">Description:</label>
                        <textarea class="form-control" id="TechnicalServiceRequestDescription" name="TechnicalServiceRequestDescription" rows="10" min="0" maxlength="500" required>@description</textarea>
                    </section>

                    <p>
                        <em class="light-text primary-text">You may modify your request's description here</em>
                    </p>
                </section>

                @* Footer *@
                <section class="modal-footer">
                    <button type="submit" class="btn btn-primary ">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Save
                    </button>
                </section>
            }

        </section>

    </section>
</section>
