.filter-selection-container {
    display: flex;
    justify-content: end;
    padding: 0 15px;
    gap: var(--space);  
    border-bottom: 1px solid var(--default);
    padding-bottom: 15px;
}

.filter-selection {
    display: flex;
    gap: var(--space);
}

    .filter-selection > label {
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .filter-selection > select {
        width: 25ch;
        padding: 8px;
        font-size: 1.8rem;
        font-weight: 800;
    }
