.client-sub-info {
    gap: 0.5rem;
}

    .client-sub-info p {
        margin-top: 0;
    }

    .client-sub-info > .contact-info {
        max-width: 20ch;
    }

.action-buttons {
    gap: 0.25rem;
}

.dataTables_wrapper th:first-child,
.dataTables_wrapper td:first-child {
    width: 11rem;
}

.dataTables_wrapper th:nth-child(2),
.dataTables_wrapper td:nth-child(2) {
    width: 25rem;
}

.dataTables_wrapper th:last-child,
.dataTables_wrapper td:last-child {
    width: fit-content;
}
