@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.EquipmentFormViewModel

@{ ViewBag.Title = "Edit"; }

@section Styles {
    <link rel="stylesheet" href="~/Content/App/Equipment/CreateEditForm.css" type="text/css" />
}

@Html.AntiForgeryToken()

<section class="equipment-form-panel-container center-child">

    <section class="panel panel-default equipment-form-panel fade-in flex-col">
        <section class="panel-heading flex-child-center-h">
            <h4 class="panel-title bold-text">
                Edit <em>@(Model.AssetTag) - @(Model.EquipmentModel)</em> Information
            </h4>
        </section>

        <section class="panel-body pt-0 flex-row flex-1">
            @using (Html.BeginForm(
                null,
                null, FormMethod.Post,
                new { @class = "flex-col flex-1" }
            ))
            {

                Html.RenderPartial("~/Views/Equipment/Partial/_CreateEditForm.cshtml", Model);

                <section class="equipment-form-actions text-right flex-row-reverse flex-child-center-h">
                    <button type="submit" class="btn btn-m btn-primary bold-text">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Save
                    </button>

                    <a class="btn btn-danger bold-text" href="@Url.Action("Index", "Equipment")">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        Cancel
                    </a>
                </section>

            }
        </section>
    </section>

</section>