@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core

@{
    ViewBag.Title = "List";
    var currentUser = ViewBag.CurrentUser as UserSession;
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/Equipment/Index.css" type="text/css" />
}

<section class="container equipment-index-page flex-row flex-child-center-v">
    <div class="panel panel-default">

        <section class="panel-heading">
            <strong>
                Equipments
            </strong>
        </section>

        <section class="panel-body">
            <section class="filter-selection-container">
                @* Status Filter *@
                <div class="filter-selection">
                    <label for="status_filter">Status:</label>
                    @Html.DropDownList(
                        "status_filter",
                        EquipmentStatusEnum.GetSelectListItems(),
                        "All"
                    );
                </div>

                @* Type Filter *@
                <div class="filter-selection">
                    <label for="type_filter">Type:</label>
                    @Html.DropDownList(
                        "type_filter",
                        EquipmentTypeEnum.GetSelectListItems(),
                        "All"
                   )
                </div>
            </section>

            <div class="table-responsive">
                <table id="equipment_table" class="tablesort table table-striped table-bordered">

                    <thead>
                        <tr>
                            <th></th>
                            <th class="asset-tag">
                                Asset Tag
                            </th>
                            <th class="model">
                                Model Name
                            </th>
                            <th class="type">
                                Type
                            </th>
                            <th class="status">
                                Status
                            </th>
                            <th class="repair-count">
                                Repair Count
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                </table>
            </div>
        </section>

    </div>

</section>

@section Scripts {
    <script>
        const userId = parseInt("@currentUser.Id", 10);
        const requestUrl = "@Url.Action("GetEquipment", "Equipment")";
    </script>

    <script src="~/Scripts/App/Equipment/InitializeListingDataTable.js" defer></script>
}



