@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Utilities

@{
    ViewBag.Title = "List";

    var currentUser = ViewBag.CurrentUser as UserSession;
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/RegistrationRequest/Index.css" type="text/css" />
}

<section class="container registration-request-index-page flex-row flex-child-center-v">
    <div class="panel panel-default">

        <section class="panel-heading">
            <strong>
                Registration Requests
            </strong>
        </section>

        <section class="panel-body">
            <section class="filter-selection-container">
                @* Status Filter *@
                <div class="filter-selection">
                    <label for="status_filter">Status:</label>
                    <select id="status_filter" class="form-control">
                        <option value="0" selected>
                            All
                        </option>
                        <option value="1">
                            Pending
                        </option>
                        <option value="2">
                            Approved
                        </option>
                        <option value="3">
                            Denied
                        </option>
                    </select>
                </div>

                @* Request Date Filter *@
                <div class="filter-selection">
                    <label for="request_date_filter">Request Date:</label>
                    <select id="request_date_filter" class="form-control">
                        <option value="0" selected>All</option>
                        <optgroup label="Request Date">
                            <option value="1">
                                Today
                            </option>
                            <option value="2">
                                This Week
                            </option>
                            <option value="3">
                                This Month
                            </option>
                            <option value="4">
                                This Year
                            </option>
                        </optgroup>
                    </select>
                </div>
            </section>

            <div class="table-responsive">
                <table id="registration_request_table" class="table table-bordered table-hover tablesort">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Full Name
                            </th>

                            <th>
                                Email
                            </th>

                            <th>
                                Date Requested
                            </th>

                            <th>
                                Status
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>

@section Scripts{
    <script>
        const userId = parseInt("@currentUser.Id", 10);
        const requestUrl = "@Url.Action("GetRegistrationRequest", "RegistrationRequest")";
    </script>

    <script src="~/Scripts/App/RegistrationRequest/InitializeListingDataTable.js" defer></script>
}
