@model TECHNICAL_SERVICE_REQUEST.Models.RequestDetailsViewModel
@using TECHNICAL_SERVICE_REQUEST.Core

@{
    var currentUser = ViewBag.CurrentUser as AppUserSession;

    var id = Model.Id;
    var firstName = currentUser.FirstName;
    var lastName = currentUser.LastName;
    var middleName = currentUser.MiddleName;

}

<section id="update_severity_modal" class="modal fade" role="dialog">
    <section class="modal-dialog">

        @* Modal content *@
        <section class="modal-content">

            @* Header *@
            <section class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title text-light">
                    <i class="glyphicon glyphicon-list-alt text-light"></i>
                    Update Severity
                </h4>
            </section>

            @using (Html.BeginForm(
                "Create",
                "RequestHistory",
                new { id = id },
                FormMethod.Post
            ))
            {
                @Html.AntiForgeryToken();

                @* Body *@
                <section class="modal-body">
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label class="text-primary light-text" for="">Update Severity:</label>
                        @Html.DropDownListFor(model => model.SeverityId,
                            Model.Severities,
                            "-- SELECT SEVERITY --",
                            new { id = "severity_dropdown", @class = "form-control" })
                    </div>

                    <p>
                        <em class="light-text">
                            Change the severity of this technical service request based on the current findings and troubleshooting steps performed.
                        </em>
                    </p>
                </section>

                @* Footer *@
                <section class="modal-footer">
                    <button 
                        id="confirm_update_severity_button" 
                        type="submit" 
                        class="btn btn-primary " 
                        data-request-id="@id.ToString()">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Change
                    </button>
                </section>
            }

        </section>

    </section>
</section>
