@model TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Models.AppUserDeactivationViewModel

@{ 
    ViewBag.Title = "Deactivate";

    var id = Model.User.Id.ToString();
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/AppUser/Deactivate.css" type="text/css" />
}

<section class="container center-child">
    @using (Html.BeginForm(
        "Deactivate",
        "User",
        new { id = id },
        FormMethod.Post,
        new { @class = "deactivate-form flex-1 center-child" }
    ))
    {
        @Html.AntiForgeryToken()

        <section class="container deactivate-page">
            <div class="panel panel-danger deactivate-panel fade-in">
                <section class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-exclamation-triangle"></i>
                        Confirm User Deactivation
                    </h3>
                </section>

                <section class="panel-body center-text">
                    <div class="deactivate-icon-wrap center-child">
                        <i class="glyphicon glyphicon-ban-circle deactivate-icon"></i>
                    </div>

                    <h4 class="deactivate-title">User Deactivation</h4>
                    <p class="deactivate-message wrap-text">
                        Are you sure you want to deactivate this user's account?<br />
                        Click <strong>Deactivate</strong> to continue.
                    </p>

                    <p class="light-text account-label">
                        Account ID: @id
                    </p>
                </section>

                <section class="panel-footer deactivate-actions-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="@Url.Action("Details", "AppUser", new { id = id })" class="btn btn-primary btn-block">
                                Cancel
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-danger btn-block" type="submit">
                                Deactivate
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    }
</section>