@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Enumerables
@using TROUBLESHOOTING_REPAIR_SERVICE_REQUEST_SYSTEM.Core

@{
    ViewBag.Title = "List";
    var currentUser = ViewBag.CurrentUser as AppUserSession;
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/App/AppUser/Index.css" type="text/css" />
}

<section class="container user-index-page flex-row flex-child-center-v">
    <div class="panel panel-default">

        <section class="panel-heading">
            <strong>
                Users
            </strong>
        </section>

        <section class="panel-body">
            <section class="filter-selection-container">
                @* Type Filter *@
                <div class="filter-selection">
                    <label for="account_type_filter">Account Type:</label>
                    @Html.DropDownList(
                        "account_type_filter",
                        AppUserRoleEnum.GetSelectListItems(),
                        "All",
                        new { @class = "form-control" }
                   )
                </div>
            </section>

            <div class="table-responsive">
                <table id="user_table" class="tablesort table table-striped table-bordered">

                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Email Address
                            </th>
                            <th>
                                Contact Number
                            </th>
                            <th>
                                Account Type
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @**@
                    </tbody>

                </table>
            </div>
        </section>

    </div>

</section>

@section Scripts {
    <script>
        const userId = parseInt("@currentUser.Id", 10);
        const requestUrl = "@Url.Action("GetUsers", "User")";
    </script>

    <script src="~/Scripts/App/AppUser/InitializeListingDataTable.js" defer></script>
}



