@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="full-body-content center-child flex-1">
    <div class="flex-col flex-child-center-v">
        <h1 class="text-danger text-center">
            <i class="glyphicon glyphicon-alert text-danger" aria-hidden="true"></i>
            Error
        </h1>
        <h5 class="text-center">
            An error occurred while processing your request.
        </h5>
    </div>
</section>

